.Msg-Input{
    align-self: flex-end;
    position: sticky;
    bottom: 0;
}

.MsgInp{
    position: sticky;
    bottom: 0;
    align-self: flex-end;
}
.Send-Btn{
    background-color: black;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    
}

