.Messagebox-Main{
    background-color: rgba(240, 255, 255, 0.279);
    color: white;
    padding: 20px;
    min-width: 400px;
    display: flex;
    min-height: 90vh;
    overflow: auto;
    position: relative;
    flex-direction: column;
    max-height: 90vh;
}

.MesgBackBtn{
    position: sticky;
    cursor: pointer;
    top:0;
}

@media (max-width:840px) {
    .Messagebox-Main{
        display: none;
    }

    .viewOn{
        display: flex;
    }
    

 
}