
.flex-con{
    display: flex;
}

button{
    background-color: rgb(30, 132, 192);
    color:white;
    padding: 5px;
    width: 50px;
    border-radius: 40%;
    font-size: 20px;
    margin: 0px 20px;
}
