body{
  background: linear-gradient(black,rgba(0, 0, 0, 0.177)), url('./assets//wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
  }
  ::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #242424;
  }