.myVideo-Main{
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    background-color: black;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.myVideo-Sub{
    height: 100%;
    width: 100%;
}