.decline-Btn{
    background-color: red;
    font-size: 50px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,50%);
    top:80%;
    left: 50%;
    cursor: pointer;
    z-index: 1;
}


.decline-Btn:hover{
    background-color: rgb(210, 6, 6);
}